.DS_Store

# Xcode
build/
DerivedData/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcuserstate
*.xcuserdatad
xcuserdata/
project.xcworkspace/xcuserdata/

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.resolved

# Carthage
Carthage/Build/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Editors
.idea/
.vscode/
